html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.bosm-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.bosm-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.bosm-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.bosm-table,.bosm-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.bosm-table-all{border:1px solid #ccc}
.bosm-bordered tr,.bosm-table-all tr{border-bottom:1px solid #ddd}.bosm-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.bosm-table-all tr:nth-child(odd){background-color:#fff}.bosm-table-all tr:nth-child(even){background-color:#f1f1f1}
.bosm-hoverable tbody tr:hover,.bosm-ul.bosm-hoverable li:hover{background-color:#ccc}.bosm-centered tr th,.bosm-centered tr td{text-align:center}
.bosm-table td,.bosm-table th,.bosm-table-all td,.bosm-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.bosm-table th:first-child,.bosm-table td:first-child,.bosm-table-all th:first-child,.bosm-table-all td:first-child{padding-left:16px}
.bosm-btn,.bosm-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.bosm-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.bosm-btn,.bosm-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.bosm-disabled,.bosm-btn:disabled,.bosm-button:disabled{cursor:not-allowed;opacity:0.3}.bosm-disabled *,:disabled *{pointer-events:none}
.bosm-btn.bosm-disabled:hover,.bosm-btn:disabled:hover{box-shadow:none}
.bosm-badge,.bosm-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.bosm-badge{border-radius:50%}
.bosm-ul{list-style-type:none;padding:0;margin:0}.bosm-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.bosm-ul li:last-child{border-bottom:none}
.bosm-tooltip,.bosm-display-container{position:relative}.bosm-tooltip .bosm-text{display:none}.bosm-tooltip:hover .bosm-text{display:inline-block}
.bosm-ripple:active{opacity:0.5}.bosm-ripple{transition:opacity 0s}
.bosm-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.bosm-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.bosm-dropdown-click,.bosm-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.bosm-dropdown-hover:hover .bosm-dropdown-content{display:block}
.bosm-dropdown-hover:first-child,.bosm-dropdown-click:hover{background-color:#ccc;color:#000}
.bosm-dropdown-hover:hover > .bosm-button:first-child,.bosm-dropdown-click:hover > .bosm-button:first-child{background-color:#ccc;color:#000}
.bosm-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.bosm-check,.bosm-radio{width:24px;height:24px;position:relative;top:6px}
.bosm-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.bosm-bar-block .bosm-dropdown-hover,.bosm-bar-block .bosm-dropdown-click{width:100%}
.bosm-bar-block .bosm-dropdown-hover .bosm-dropdown-content,.bosm-bar-block .bosm-dropdown-click .bosm-dropdown-content{min-width:100%}
.bosm-bar-block .bosm-dropdown-hover .bosm-button,.bosm-bar-block .bosm-dropdown-click .bosm-button{width:100%;text-align:left;padding:8px 16px}
.bosm-main,#main{transition:margin-left .4s}
.bosm-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.bosm-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.bosm-bar{width:100%;overflow:hidden}.bosm-center .bosm-bar{display:inline-block;width:auto}
.bosm-bar .bosm-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bosm-bar .bosm-dropdown-hover,.bosm-bar .bosm-dropdown-click{position:static;float:left}
.bosm-bar .bosm-button{white-space:normal}
.bosm-bar-block .bosm-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.bosm-bar-block.bosm-center .bosm-bar-item{text-align:center}.bosm-block{display:block;width:100%}
.bosm-responsive{display:block;overflow-x:auto}
.bosm-container:after,.bosm-container:before,.bosm-panel:after,.bosm-panel:before,.bosm-row:after,.bosm-row:before,.bosm-row-padding:after,.bosm-row-padding:before,
.bosm-cell-row:before,.bosm-cell-row:after,.bosm-clear:after,.bosm-clear:before,.bosm-bar:before,.bosm-bar:after{content:"";display:table;clear:both}
.bosm-col,.bosm-half,.bosm-third,.bosm-twothird,.bosm-threequarter,.bosm-quarter{float:left;width:100%}
.bosm-col.s1{width:8.33333%}.bosm-col.s2{width:16.66666%}.bosm-col.s3{width:24.99999%}.bosm-col.s4{width:33.33333%}
.bosm-col.s5{width:41.66666%}.bosm-col.s6{width:49.99999%}.bosm-col.s7{width:58.33333%}.bosm-col.s8{width:66.66666%}
.bosm-col.s9{width:74.99999%}.bosm-col.s10{width:83.33333%}.bosm-col.s11{width:91.66666%}.bosm-col.s12{width:99.99999%}
@media (min-width:601px){.bosm-col.m1{width:8.33333%}.bosm-col.m2{width:16.66666%}.bosm-col.m3,.bosm-quarter{width:24.99999%}.bosm-col.m4,.bosm-third{width:33.33333%}
.bosm-col.m5{width:41.66666%}.bosm-col.m6,.bosm-half{width:49.99999%}.bosm-col.m7{width:58.33333%}.bosm-col.m8,.bosm-twothird{width:66.66666%}
.bosm-col.m9,.bosm-threequarter{width:74.99999%}.bosm-col.m10{width:83.33333%}.bosm-col.m11{width:91.66666%}.bosm-col.m12{width:99.99999%}}
@media (min-width:993px){.bosm-col.l1{width:8.33333%}.bosm-col.l2{width:16.66666%}.bosm-col.l3{width:24.99999%}.bosm-col.l4{width:33.33333%}
.bosm-col.l5{width:41.66666%}.bosm-col.l6{width:49.99999%}.bosm-col.l7{width:58.33333%}.bosm-col.l8{width:66.66666%}
.bosm-col.l9{width:74.99999%}.bosm-col.l10{width:83.33333%}.bosm-col.l11{width:91.66666%}.bosm-col.l12{width:99.99999%}}
.bosm-content{max-width:980px;margin:auto}.bosm-rest{overflow:hidden}
.bosm-cell-row{display:table;width:100%}.bosm-cell{display:table-cell}
.bosm-cell-top{vertical-align:top}.bosm-cell-middle{vertical-align:middle}.bosm-cell-bottom{vertical-align:bottom}
.bosm-hide{display:none!important}.bosm-show-block,.bosm-show{display:block!important}.bosm-show-inline-block{display:inline-block!important}
@media (max-width:600px){.bosm-modal-content{margin:0 10px;width:auto!important}.bosm-modal{padding-top:30px}
.bosm-dropdown-hover.bosm-mobile .bosm-dropdown-content,.bosm-dropdown-click.bosm-mobile .bosm-dropdown-content{position:relative}	
.bosm-hide-small{display:none!important}.bosm-mobile{display:block;width:100%!important}.bosm-bar-item.bosm-mobile,.bosm-dropdown-hover.bosm-mobile,.bosm-dropdown-click.bosm-mobile{text-align:center}
.bosm-dropdown-hover.bosm-mobile,.bosm-dropdown-hover.bosm-mobile .bosm-btn,.bosm-dropdown-hover.bosm-mobile .bosm-button,.bosm-dropdown-click.bosm-mobile,.bosm-dropdown-click.bosm-mobile .bosm-btn,.bosm-dropdown-click.bosm-mobile .bosm-button{width:100%}}
@media (max-width:768px){.bosm-modal-content{width:500px}.bosm-modal{padding-top:50px}}
@media (min-width:993px){.bosm-modal-content{width:900px}.bosm-hide-large{display:none!important}.bosm-sidebar.bosm-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.bosm-hide-medium{display:none!important}}
@media (max-width:992px){.bosm-sidebar.bosm-collapse{display:none}.bosm-main{margin-left:0!important;margin-right:0!important}}
.bosm-top,.bosm-bottom{position:fixed;width:100%;z-index:1}.bosm-top{top:0}.bosm-bottom{bottom:0}
.bosm-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.bosm-display-topleft{position:absolute;left:0;top:0}.bosm-display-topright{position:absolute;right:0;top:0}
.bosm-display-bottomleft{position:absolute;left:0;bottom:0}.bosm-display-bottomright{position:absolute;right:0;bottom:0}
.bosm-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.bosm-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.bosm-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.bosm-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.bosm-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.bosm-display-container:hover .bosm-display-hover{display:block}.bosm-display-container:hover span.bosm-display-hover{display:inline-block}.bosm-display-hover{display:none}
.bosm-display-position{position:absolute}
.bosm-circle{border-radius:50%}
.bosm-round-small{border-radius:2px}.bosm-round,.bosm-round-medium{border-radius:4px}.bosm-round-large{border-radius:8px}.bosm-round-xlarge{border-radius:16px}.bosm-round-xxlarge{border-radius:32px}
.bosm-row-padding,.bosm-row-padding>.bosm-half,.bosm-row-padding>.bosm-third,.bosm-row-padding>.bosm-twothird,.bosm-row-padding>.bosm-threequarter,.bosm-row-padding>.bosm-quarter,.bosm-row-padding>.bosm-col{padding:0 8px}
.bosm-container,.bosm-panel{padding:0.01em 16px}.bosm-panel{margin-top:16px;margin-bottom:16px}
.bosm-code,.bosm-codespan{font-family:Consolas,"courier new";font-size:16px}
.bosm-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.bosm-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.bosm-card,.bosm-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.bosm-card-4,.bosm-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.bosm-spin{animation:bosm-spin 2s infinite linear}@keyframes bosm-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.bosm-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.bosm-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.bosm-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.bosm-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.bosm-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.bosm-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.bosm-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.bosm-animate-input{transition:width 0.4s ease-in-out}.bosm-animate-input:focus{width:100%!important}
.bosm-opacity,.bosm-hover-opacity:hover{opacity:0.60}.bosm-opacity-off,.bosm-hover-opacity-off:hover{opacity:1}
.bosm-opacity-max{opacity:0.25}.bosm-opacity-min{opacity:0.75}
.bosm-greyscale-max,.bosm-grayscale-max,.bosm-hover-greyscale:hover,.bosm-hover-grayscale:hover{filter:grayscale(100%)}
.bosm-greyscale,.bosm-grayscale{filter:grayscale(75%)}.bosm-greyscale-min,.bosm-grayscale-min{filter:grayscale(50%)}
.bosm-sepia{filter:sepia(75%)}.bosm-sepia-max,.bosm-hover-sepia:hover{filter:sepia(100%)}.bosm-sepia-min{filter:sepia(50%)}
.bosm-tiny{font-size:10px!important}.bosm-small{font-size:12px!important}.bosm-medium{font-size:15px!important}.bosm-large{font-size:18px!important}
.bosm-xlarge{font-size:24px!important}.bosm-xxlarge{font-size:36px!important}.bosm-xxxlarge{font-size:48px!important}.bosm-jumbo{font-size:64px!important}
.bosm-left-align{text-align:left!important}.bosm-right-align{text-align:right!important}.bosm-justify{text-align:justify!important}.bosm-center{text-align:center!important}
.bosm-border-0{border:0!important}.bosm-border{border:1px solid #ccc!important}
.bosm-border-top{border-top:1px solid #ccc!important}.bosm-border-bottom{border-bottom:1px solid #ccc!important}
.bosm-border-left{border-left:1px solid #ccc!important}.bosm-border-right{border-right:1px solid #ccc!important}
.bosm-topbar{border-top:6px solid #ccc!important}.bosm-bottombar{border-bottom:6px solid #ccc!important}
.bosm-leftbar{border-left:6px solid #ccc!important}.bosm-rightbar{border-right:6px solid #ccc!important}
.bosm-section,.bosm-code{margin-top:16px!important;margin-bottom:16px!important}
.bosm-margin{margin:16px!important}.bosm-margin-top{margin-top:16px!important}.bosm-margin-bottom{margin-bottom:16px!important}
.bosm-margin-left{margin-left:16px!important}.bosm-margin-right{margin-right:16px!important}
.bosm-padding-small{padding:4px 8px!important}.bosm-padding{padding:8px 16px!important}.bosm-padding-large{padding:12px 24px!important}
.bosm-padding-16{padding-top:16px!important;padding-bottom:16px!important}.bosm-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.bosm-padding-32{padding-top:32px!important;padding-bottom:32px!important}.bosm-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.bosm-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.bosm-left{float:left!important}.bosm-right{float:right!important}
.bosm-button:hover{color:#000!important;background-color:#ccc!important}
.bosm-transparent,.bosm-hover-none:hover{background-color:transparent!important}
.bosm-hover-none:hover{box-shadow:none!important}
/* Colors */
.bosm-amber,.bosm-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.bosm-aqua,.bosm-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.bosm-blue,.bosm-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.bosm-light-blue,.bosm-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.bosm-brown,.bosm-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.bosm-cyan,.bosm-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.bosm-blue-grey,.bosm-hover-blue-grey:hover,.bosm-blue-gray,.bosm-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.bosm-green,.bosm-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.bosm-light-green,.bosm-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.bosm-indigo,.bosm-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.bosm-khaki,.bosm-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.bosm-lime,.bosm-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.bosm-orange,.bosm-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.bosm-deep-orange,.bosm-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.bosm-pink,.bosm-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.bosm-purple,.bosm-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.bosm-deep-purple,.bosm-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.bosm-red,.bosm-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.bosm-sand,.bosm-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.bosm-teal,.bosm-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.bosm-yellow,.bosm-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.bosm-white,.bosm-hover-white:hover{color:#000!important;background-color:#fff!important}
.bosm-black,.bosm-hover-black:hover{color:#fff!important;background-color:#000!important}
.bosm-grey,.bosm-hover-grey:hover,.bosm-gray,.bosm-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.bosm-light-grey,.bosm-hover-light-grey:hover,.bosm-light-gray,.bosm-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.bosm-dark-grey,.bosm-hover-dark-grey:hover,.bosm-dark-gray,.bosm-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.bosm-pale-red,.bosm-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.bosm-pale-green,.bosm-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.bosm-pale-yellow,.bosm-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.bosm-pale-blue,.bosm-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.bosm-text-amber,.bosm-hover-text-amber:hover{color:#ffc107!important}
.bosm-text-aqua,.bosm-hover-text-aqua:hover{color:#00ffff!important}
.bosm-text-blue,.bosm-hover-text-blue:hover{color:#2196F3!important}
.bosm-text-light-blue,.bosm-hover-text-light-blue:hover{color:#87CEEB!important}
.bosm-text-brown,.bosm-hover-text-brown:hover{color:#795548!important}
.bosm-text-cyan,.bosm-hover-text-cyan:hover{color:#00bcd4!important}
.bosm-text-blue-grey,.bosm-hover-text-blue-grey:hover,.bosm-text-blue-gray,.bosm-hover-text-blue-gray:hover{color:#607d8b!important}
.bosm-text-green,.bosm-hover-text-green:hover{color:#4CAF50!important}
.bosm-text-light-green,.bosm-hover-text-light-green:hover{color:#8bc34a!important}
.bosm-text-indigo,.bosm-hover-text-indigo:hover{color:#3f51b5!important}
.bosm-text-khaki,.bosm-hover-text-khaki:hover{color:#b4aa50!important}
.bosm-text-lime,.bosm-hover-text-lime:hover{color:#cddc39!important}
.bosm-text-orange,.bosm-hover-text-orange:hover{color:#ff9800!important}
.bosm-text-deep-orange,.bosm-hover-text-deep-orange:hover{color:#ff5722!important}
.bosm-text-pink,.bosm-hover-text-pink:hover{color:#e91e63!important}
.bosm-text-purple,.bosm-hover-text-purple:hover{color:#9c27b0!important}
.bosm-text-deep-purple,.bosm-hover-text-deep-purple:hover{color:#673ab7!important}
.bosm-text-red,.bosm-hover-text-red:hover{color:#f44336!important}
.bosm-text-sand,.bosm-hover-text-sand:hover{color:#fdf5e6!important}
.bosm-text-teal,.bosm-hover-text-teal:hover{color:#009688!important}
.bosm-text-yellow,.bosm-hover-text-yellow:hover{color:#d2be0e!important}
.bosm-text-white,.bosm-hover-text-white:hover{color:#fff!important}
.bosm-text-black,.bosm-hover-text-black:hover{color:#000!important}
.bosm-text-grey,.bosm-hover-text-grey:hover,.bosm-text-gray,.bosm-hover-text-gray:hover{color:#757575!important}
.bosm-text-light-grey,.bosm-hover-text-light-grey:hover,.bosm-text-light-gray,.bosm-hover-text-light-gray:hover{color:#f1f1f1!important}
.bosm-text-dark-grey,.bosm-hover-text-dark-grey:hover,.bosm-text-dark-gray,.bosm-hover-text-dark-gray:hover{color:#3a3a3a!important}
.bosm-border-amber,.bosm-hover-border-amber:hover{border-color:#ffc107!important}
.bosm-border-aqua,.bosm-hover-border-aqua:hover{border-color:#00ffff!important}
.bosm-border-blue,.bosm-hover-border-blue:hover{border-color:#2196F3!important}
.bosm-border-light-blue,.bosm-hover-border-light-blue:hover{border-color:#87CEEB!important}
.bosm-border-brown,.bosm-hover-border-brown:hover{border-color:#795548!important}
.bosm-border-cyan,.bosm-hover-border-cyan:hover{border-color:#00bcd4!important}
.bosm-border-blue-grey,.bosm-hover-border-blue-grey:hover,.bosm-border-blue-gray,.bosm-hover-border-blue-gray:hover{border-color:#607d8b!important}
.bosm-border-green,.bosm-hover-border-green:hover{border-color:#4CAF50!important}
.bosm-border-light-green,.bosm-hover-border-light-green:hover{border-color:#8bc34a!important}
.bosm-border-indigo,.bosm-hover-border-indigo:hover{border-color:#3f51b5!important}
.bosm-border-khaki,.bosm-hover-border-khaki:hover{border-color:#f0e68c!important}
.bosm-border-lime,.bosm-hover-border-lime:hover{border-color:#cddc39!important}
.bosm-border-orange,.bosm-hover-border-orange:hover{border-color:#ff9800!important}
.bosm-border-deep-orange,.bosm-hover-border-deep-orange:hover{border-color:#ff5722!important}
.bosm-border-pink,.bosm-hover-border-pink:hover{border-color:#e91e63!important}
.bosm-border-purple,.bosm-hover-border-purple:hover{border-color:#9c27b0!important}
.bosm-border-deep-purple,.bosm-hover-border-deep-purple:hover{border-color:#673ab7!important}
.bosm-border-red,.bosm-hover-border-red:hover{border-color:#f44336!important}
.bosm-border-sand,.bosm-hover-border-sand:hover{border-color:#fdf5e6!important}
.bosm-border-teal,.bosm-hover-border-teal:hover{border-color:#009688!important}
.bosm-border-yellow,.bosm-hover-border-yellow:hover{border-color:#ffeb3b!important}
.bosm-border-white,.bosm-hover-border-white:hover{border-color:#fff!important}
.bosm-border-black,.bosm-hover-border-black:hover{border-color:#000!important}
.bosm-border-grey,.bosm-hover-border-grey:hover,.bosm-border-gray,.bosm-hover-border-gray:hover{border-color:#9e9e9e!important}
.bosm-border-light-grey,.bosm-hover-border-light-grey:hover,.bosm-border-light-gray,.bosm-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.bosm-border-dark-grey,.bosm-hover-border-dark-grey:hover,.bosm-border-dark-gray,.bosm-hover-border-dark-gray:hover{border-color:#616161!important}
.bosm-border-pale-red,.bosm-hover-border-pale-red:hover{border-color:#ffe7e7!important}.bosm-border-pale-green,.bosm-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.bosm-border-pale-yellow,.bosm-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.bosm-border-pale-blue,.bosm-hover-border-pale-blue:hover{border-color:#e7ffff!important}
